body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background: url("./images/katsuma-tanaka-msPoWrlNYBY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 10px;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border: solid 4px rgb(3, 111, 88);
  color: rgb(46, 48, 42);
  border-radius: 5px;
}

.input::placeholder {
  color: lightgray;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color: rgb(221, 152, 3);
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 6px 4px 8px rgb(46, 48, 42);
}

.btn:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.score {
  color: red;
  text-align: right;
}
